@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
Paars #5722CD;
Blauw #4845E4;
Roze #ED4385;
Zwart #0C0C0C (voor standaard tekst);
Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:
                                                                                 Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)
Grijs #7A7A7A (voor de service-tegel tekst);
*/

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
.h1, h2, h3, h4, h5, h6{
    font-family: merriweather, sans-serif;
}


.outer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.inner-container {
    border: 1px dotted black;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 1200px;
    margin: 0 20px;
}

.header-center-styling {
    text-align: center;
}

.section-header {
    background-color: #5722CD;
}



.section-form {
    background-color: #5722CD;
}

/*--------navbar---------------*/

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0 40px;
    text-align: right;
}

.navbar li {
    display: inline-block;
    padding: 20px;
}

.navbar a {
    text-decoration: none;

}

/* --------------- 4.1 Header ------------------------- */
.header-text h1 {
    /*border: 1px dotted black;*/
    font-family: merriweather, sans-serif;
    color: white;
    text-align: center;
    padding: 50px 0;
    margin-bottom: 20px;
}


.header-text p {
    color: white;
    font-size: 50;
}



.stripe-icon {
    justify-content: center;
    padding: 30px;
    position: relative;
    margin: 50px 0
}


.button {
    display: inline-block;
    padding: 20px 30px;
    font-size: 16px;
    color: white;
    background-color: #ED4385;
    text-decoration: none;
    border-radius: 30px;
    border: none;
    margin: 40px 0;
}

/*.button:hover {*/
/*    background-color: #ED4385;*/
/*}*/


/*---------Introduction-------------*/

.section-introduction {

    text-align: center;
    color: #5722CD;
    line-height: 1.5;
}

.section-introduction p{
    padding: 20px 0;
}

.footer-text {
    background-color: black;
    color: white;
    text-align: center;
}

/*-------------Articles-----------*/

.article-container {
    border: 1px dotted black;
    display: flex;
   /* flex-direction: column;*/
    align-items: center;
    flex-basis: 1800px;
    margin: 0 20px;


}

.section-cases {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.section-cases-article{
    background-color: white;
    display: flex;;
    /*margin: ;*/
}

.cases-text-wrapper {
    border: 1px dotted black;
    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 1;

}
.cases-image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    padding: 50px 160px 50px 20px;
}


/*img {
    width: 100%;
}*/
